html,body,#app{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.ant-table-row{
    cursor: pointer;
}

.ant-table td { 
    white-space: nowrap; 
}

.ant-table-body::-webkit-scrollbar {
    width: 0 !important 
}

.ant-table-body{
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.ant-table-fixed>.ant-table-thead>tr>th{
    background-color: rgba(0, 0, 0, 0);
}

.readme>.ant-card{
    background-color: rgba(0, 0, 0, 0);
}

.ant-card-body div{
    background-color: rgba(0, 0, 0, 0);
}

.markdown-preview{
    background-color: rgba(0, 0, 0, 0) !important;
}