html,body,#app{
  /* height: 100vh; */
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.ant-input-search,.ant-input-search input {
  background-color: transparent;
}

.ant-table-row{
  cursor: pointer;
}

.ant-table td { 
  white-space: nowrap; 
}

/* .ant-table-body::-webkit-scrollbar {
  width: 0 !important 
} */

.ant-table-body{
  overflow-x: overlay !important;
  overflow: -moz-scrollbars-none !important;
   -ms-overflow-style: none !important;
}
